<!--  Church Reviews List -->
<ul class="list-unstyled">
  <h3>Reviews</h3>
  <li ng-repeat="review in church.reviews">
    <blockquote>
      <div ng-controller="ChurchRatingCtrl">
        <strong>Preaching: </strong>
        <uib-rating ng-model="review.preachingStars" title="preachingStars" max="max" read-only="!isReadonly"></uib-rating>
      </div>
      <div ng-controller="ChurchRatingCtrl">
        <strong>Music: </strong>
        <uib-rating ng-model="review.musicStars" title="musicStars" max="max" read-only="!isReadonly"></uib-rating>
      </div>
      <div ng-controller="ChurchRatingCtrl">
        <strong>Welcomeness: </strong>
        <uib-rating ng-model="review.welcomeStars" title="welcomeStars" max="max" read-only="!isReadonly"></uib-rating>
        <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>
      </div>
      <br>
      {{review.body}}
      <!-- Pass this in automatically based on the user's account -->
      <cite class="clearfix">— <a href="profile.html">{{review.author}}</a></cite>
    </blockquote>
  </li>
</ul>

<!--  Review Form -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(church)">

  <!--  Live Preview -->
  <blockquote>
    <div ng-controller="ChurchRatingCtrl">
      <strong>Preaching: </strong>
      <uib-rating ng-model="reviewCtrl.review.preachingStars" title="preachingStars" max="max" read-only="!isReadonly"></uib-rating>
    </div>
    <div ng-controller="ChurchRatingCtrl">
      <strong>Music: </strong>
      <uib-rating ng-model="reviewCtrl.review.musicStars" title="musicStars" max="max" read-only="!isReadonly"></uib-rating>
    </div>
    <div ng-controller="ChurchRatingCtrl">
      <strong>Welcomeness: </strong>
      <uib-rating ng-model="reviewCtrl.review.welcomeStars" title="welcomeStars" max="max" read-only="!isReadonly"></uib-rating>
      <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>
    </div>
    <br>
    {{reviewCtrl.review.body}}<br>
    <!-- Get rid of this when I pass through profiles -->
    <cite class="clearfix">— {{reviewCtrl.review.author}}</cite>
  </blockquote>



  <!--  Review Form -->
  <h3>Submit Your Own Review</h3>
  <fieldset class="form-group">
    <div ng-controller="ChurchRatingCtrl">
      <strong>Preaching: </strong>
      <uib-rating ng-model="reviewCtrl.review.preachingStars" title="preachingStars" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
    </div>

    <div ng-controller="ChurchRatingCtrl">
      <strong>Music: </strong>
      <uib-rating ng-model="reviewCtrl.review.musicStars" title="musicStars" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>
    </div>

    <div ng-controller="ChurchRatingCtrl">
      <strong>Welcomeness: </strong>
      <uib-rating ng-model="reviewCtrl.review.welcomeStars" title="welcomeStars" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></uib-rating>

      <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

      <button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
      <hr />
    </div>

  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the church..." title="Review"></textarea>
  </fieldset>
    <!-- Get rid of this when I pass through profiles -->
  <fieldset class="form-group">
    <input ng-model="reviewCtrl.review.author" type="text" class="form-control" placeholder="This will be automatically passed in" title="name" />
  </fieldset>
  <fieldset class="form-group">
    <!-- Add javascript to append a readonly class to the review upon submission -->
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
