<!--  Church Reviews List -->
<ul class="list-unstyled">
  <h4>Reviews</h4>
  <li ng-repeat="review in church.reviews">
    <blockquote>
      <strong>Preaching: </strong>{{review.preachingStars}}<br>
      <strong>Music: </strong>{{review.musicStars}}<br>
      <strong>Welcomeness: </strong>{{review.welcomeStars}}<br>
      <br>
      {{review.body}}
      <cite class="clearfix">—{{review.author}}</cite>
    </blockquote>
  </li>
</ul>

<!--  Review Form -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(church)">

  <!--  Live Preview -->
  <blockquote>
    <strong ng-model="rating.isReadonly">Preaching: </strong>{{reviewCtrl.review.preachingStars}}<br>
    <strong>Music: </strong>{{reviewCtrl.review.musicStars}}<br>
    <strong>Welcomeness: </strong>{{reviewCtrl.review.welcomeStars}}<br>
    <br>
    {{reviewCtrl.review.body}}<br>
    <!-- Pass this in automatically based on the user's account -->
    <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
  </blockquote>

  <!--  Review Form -->
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select class="form-group" ng-model="reviewCtrl.review.preachingStars" title="preachingStars">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select><br>
    <select class="form-group" ng-model="reviewCtrl.review.musicStars" ng-options="musicStars for musicStars in [5,4,3,2,1]" title="musicStars">
    </select><br>
    <select class="form-group" ng-model="reviewCtrl.review.welcomeStars" ng-options="welcomeStars for welcomeStars in [5,4,3,2,1]" title="welcomeStars">
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the church..." title="Review"></textarea>
  </fieldset>
    <!-- Pass this in automatically based on the user's account -->
  <fieldset class="form-group">
    <input ng-model="reviewCtrl.review.author" type="text" class="form-control" placeholder="John Smith" title="name" />
  </fieldset>
  <!-- <fieldset class="form-group">
    <input ng-model="reviewCtrl.review.authorEmail" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
  </fieldset> -->
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
