  <h4 class="text-warning">Sunday Mass:</h4>
  <ul ng-show="church.sundayMasses.length" class="list-unstyled">
    <li ng-repeat="sundayMass in church.sundayMasses">
      {{sundayMass}}
    </li>
  </ul>
  <h4 class="text-warning">Saturday Mass:</h4>
  <ul ng-show="church.saturdayMasses.length" class="list-unstyled">
    <li ng-repeat="saturdayMass in church.saturdayMasses">
      {{saturdayMass}}
    </li>
  </ul>
  <h4 class="text-warning">Weekday Mass:</h4>
  <ul ng-show="church.weekdayMasses.length" class="list-unstyled">
    <li ng-repeat="weekdayMass in church.weekdayMasses">
      {{weekdayMass}}
    </li>
  </ul>
